# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# .pytest_cache

# vscode
.vscode/

# venv
venv/

# local run
runme.sh
map.yaml
map.yaml_
map.md
repo/

# test related
0to100-**/
