# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# vscode
.vscode/

# venv
venv/

# local run
map.md
repo/

# test related
0to100-**/

# local tests
http*

# idea
.idea/**

readme.sh
*.yaml
