# rnd
*Zone.Identifier

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache

# venv
venv/
.venv/

# vscode
.vscode/
# idea
.idea/**

# demo
safaribooks/

# pip install
build
/dist
*.egg-info
pip-wheel-metadata/

# maps
map.yaml
map_zo.yaml
map_sb.yaml

# yt related
*.mp4
*.vtt
*.html
